gradio
ipykernel
ipython
jupyter_client
openai
pandas>=2.2.3
pillow
torch
transformers
PyYAML
ansi2html
sentence_transformers
nbformat
pydantic
scikit-learn
statsmodels
openpyxl
datasets
fastapi
uvicorn
python-multipart
httpx

backoff==2.2.1
